<h1>Edit a song</h1>
<form action='/songs/<%=@song.slug%>' method='POST'>
<input type='hidden' name='_method' value= 'PATCH'>

<p>Song's name: <input type='text' name='name' value="<%=@song.name%>"></p>
<p>Artist's name: <input type='text' name='artist'value="<%=@song.artist.name%>"></p>

<%@genres.each do |genre|%>
    <p><label> <%= genre.name%></label>
    <input <%='checked' if @song.genres.include?(genre) %> type='checkbox' name = "genres[]" value="<%=genre.id%>"></p>
    <%end%>
    
<input type='submit' value="Save">

</form>