<h1 class=jumbotron><%=@song.name%></h1>
<ul>
    <li><p>Artist: <a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></p></li>
    <li><p>Genre: <% @song.genres.each do |genre|%>
<a href="/genres/<%=genre.slug%>"><%=genre.name%></a>
<%end%>
</p></li>
</ul>

